body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display:flex;
    margin: 0px;
}

.ticker {
    display: flex;
    width: 36px;
    height: 36px;

}

.tickerInput {
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid;
    height: 100%;
    width: 100% ;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;

}

.ticker:hover {
    width: 102px;
    transition: width 200ms ease;
}

.tickerButton {
    box-sizing: border-box;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    visibility:collapse;
    opacity: 0%;
    
}

.upButton {
    margin-left: -33px;
    margin-top: 3px;
}

.downButton {
    margin-right: -33px;
    margin-top: 3px;
    z-index: 2;
}
.ticker:hover > .tickerButton {
    visibility: visible;
    opacity: 100%;
    transition: opacity 300ms ease;
}